*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: url(img/pexels-jan-kopřiva-3634855\ \(1\).jpg) ;
    background-size: cover ;
    background-position: 0px 900px;;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: -webkit-pictograph;
}

body h1{
    font-weight: normal;
    font-size: 4rem;
    margin-top: -7rem;
}

.container{
    display: flex;
}

.big-text{
    font-size: 5rem;
    line-height: 1;
    margin: 0 2rem;
}

.countdown{
    margin:50px 20px;
    text-align: center;
    font-family: sans-serif;
}

.countdown span{
    font-size: 1.5em;
}


@media (max-width : 900px) and (min-width: 701px){
    .big-text{
        font-size: 3rem;
        line-height: 1;
        margin: 0 1.5rem;
    }

    .countdown span{
       font-size: 1.5em;
    }
}

@media (max-width : 700px) and (min-width: 400px){
    .big-text{
        font-size: 2rem;
        line-height: 1;
        margin: 0 1rem;
    }

    .countdown span{
       font-size: 1em;
    }
}